@import "../../styles/main.scss";

.root {
  height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  .content{
    margin: 2em auto;
    height: 100%;
    max-width: 800px;
  }
}
