@import '../../../styles/main.scss';

.wrapper{
  height: calc(100% - 15px);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.add-action-button {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.table{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  .edit{
    display: flex;
    justify-content: flex-end;
  }
}

.editAction{
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  text-align:end;
  margin: 12px;
}