@import '../../styles/main.scss';

.root{
  background: #ffffff;
  border-radius: 8px;
  width: 100%;
  overflow-x: auto;
  margin: 1em 0;
  .table{
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    border-collapse: separate;
  }
} 

.row{
  border-left: 1px solid black;
  transition: 0.2s;
  &:hover{
    background-color: lighten($color: $primary-color, $amount: 50);
    cursor: pointer;
  }
}