@import '../../styles/abstracts/variables';

.dialog{
  h2{
    color: $primary-text-color;
  }
}

.dates{
  display: flex;
  margin: 1em 0;
  @media only screen and (max-width: 540px){
    flex-wrap: wrap;
  }
  .date{
    flex-grow: 1;
    &:not(:first-child){
      margin-left: 1em;
      @media only screen and (max-width: 540px){
        margin-left: 0;
        margin: 1em 0;
      }
    }
  }
}

.icon{
  fill: $secondary-text-color;
}