@import '../../styles/main.scss';

.wrapper{
  height: calc(100% - 15px);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto;
  h1{
    border-radius: 8px;;
    padding: 0.1em 0.3em;
    background-color: lighten($color: $accent-color, $amount: 50);
    color: $accent-color;
    font-weight: 700;
  }
}

.add-action-button {
  position: absolute;
  right: 15px;
  bottom: 15px;
}